%h2
  = @user.login
  (
  = @user.email
  )
  has requested a webdev.
%p
  Before continuing, please check to verify that the user is on the 
  %a{:href=>"https://secure.transformativeworks.org/mailman/admin/otw-coders/members"} otw-coder's mailing list
%p 
  Instructions for setting them up are at
  = "http://webdev.archiveofourown.org/users/#{@user.id}/info"
%p
  You will need to login to the webdev as "systems" to see the instructions. The password is in the vault.
