%h2
  = @user.login
  has requested a webdev.
%p
  Before continuing, please check to verify that the user is a real person (ask ADT chairs if uncertain) 
%p 
  Instructions are at
  = "http://webdev.archiveofourown.org/users/#{@user.id}/info"
%p
  You will need to login to the webdev as an admin. Ask Sidra to set you up as an admin.
