%h2
  = @user.login
  has requested a change to their webdev.
%p 
  The new info is at
  = "http://webdev.archiveofourown.org/users/#{@user.id}/info"
%p
  You will need to login to the webdev as an admin. Ask Sidra to set you up as an admin.
%p
  You'll have to ask them what they wanted changed.

